@import "variables";

header {
  display: flex;
  align-items: center;
  justify-content: center;

  background: no-repeat center/cover url(./images/bg.svg);

  height: 50rem;

  h1 {
    color: $ligth;
  }
  h1,
  span {
    font-size: 9.6rem;
    font-weight: 600;
  }
}
