@import 'variables';

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/bg.svg);
    background-size: cover;
    background-position: center;
  
    height: 50rem;
    
    h1 {
        
        color:$ligth;
    }
   h1, span {
    font-size: 9.6rem;
    font-weight: 600;
   }
  }

