@import "variables";
main {
  img {
      position: relative;
    bottom: 5rem;
  }
  .best-sellers {

      padding: 8.8rem 0;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     align-items: center;
  }
  .box-best-sellers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25.6rem;
    border-radius: 2.5rem;
    background-color: $ligth;
    padding: 0 3.8rem;
    text-align: center;
    margin: 0 1.6rem;
    h1 {
        font-size: 1.8rem;
    }
    p {
        font-size: 2rem;
    }
    .price {
        font-size: 3.2rem;
    }
  }
}
