@import "variables";
main {
  img {
    position: absolute;
    top: 2rem;
  }
  .pizzas-container {
    padding: 8.8rem 0;
    text-align: center;
    h1 {
  
      font-size: 3.6rem;
    }
  }
  .best-sellers {
    position: relative;
    padding: 8.8rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

  }
  .box-best-sellers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25.6rem;
    border-radius: 2.5rem;
    background-color: $ligth;
    padding: 0 3.8rem;
    text-align: center;
    margin: 0 1.6rem;
    h1 {
      margin-top: 6.3rem;
      font-size: 1.8rem;
      font-weight: 600;
    }
    p {
      margin-top: .8rem;
      font-size: 1.4rem;
      font-weight: 300;
    }
    .price {
      padding: 2.4rem 0;
      font-size: 3.2rem;
    }

    button {
      position: relative;
      top: 1rem;
      cursor: pointer;
      font-size: 1.2rem;
      background-color: $orange;
      border-radius: 2.5rem;
      padding: 0.8rem 3.2rem;
    }
  }
}
