@import "variables";
main {

  .pizza {
    position: absolute;
    top: -7rem;
  }
  .pizzas-container {
    position: relative;
    padding: 8.8rem 0;
    text-align: center;
    h1 {
  
      font-size: 3.6rem;
    }
  }
  .best-sellers {
    position: relative;
    padding: 8.8rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

  }
  .like {
    position: absolute;
    right: 1rem;
    top: -2rem;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 1.4rem;
      background-color:  #FFD4C9;
      border: .2rem solid $red;
    }
  .box-best-sellers {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25.6rem;
    border-radius: 2.5rem;
    background-color: $ligth;
    padding: 0 3.8rem;
    text-align: center;
    margin: 5rem 1.6rem;
    h1 {
      margin-top: 6.3rem;
      font-size: 1.8rem;
      font-weight: 600;
    }
    p {
      margin-top: .8rem;
      font-size: 1.4rem;
      font-weight: 300;
    }
    .price {
      padding: 2.4rem 0;
      font-size: 3.2rem;
    }

    .compra {
      position: relative;
      top: 1rem;
      cursor: pointer;
      font-size: 1.2rem;
      background-color: $orange;
      border-radius: 2.5rem;
      padding: 0.8rem 3.2rem;
    }
  }

  .images {
    .ingredients {
      position: absolute;
      &:nth-child(1) {
        top: 0;
        left: 0;
      }
      &:nth-child(2) {
        top: 7rem;
        left: 26.2rem;
      }
    }
  }
}
