@import "variables";
main {
  .pizza {
    position: absolute;
    top: -7rem;
  }
  .pizzas-container {
    position: relative;
    padding: 8.8rem 0;
    text-align: center;
    h1 {
      font-size: 3.6rem;
    }
  }
  .best-sellers {
    position: relative;
    padding: 8.8rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .like {
    position: absolute;
    right: 1rem;
    top: -2rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1.4rem;
    background-color: #ffd4c9;
    border: 0.2rem solid $red;
  }
  .box-best-sellers {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25.6rem;
    border-radius: 2.5rem;
    background-color: $ligth;
    padding: 0 3.8rem;
    text-align: center;
    margin: 5rem 1.6rem;
    h1 {
      margin-top: 6.3rem;
      font-size: 1.8rem;
      font-weight: 600;
    }
    p {
      margin-top: 0.8rem;
      font-size: 1.4rem;
      font-weight: 300;
    }
    .price {
      padding: 2.4rem 0;
      font-size: 3.2rem;
    }

    .compra {
      position: relative;
      top: 1rem;

      font-size: 1.2rem;

      padding: 0.8rem 3.2rem;
    }
  }

  .images {
    .ingredients {
      position: absolute;
      &:nth-child(1) {
        top: -5rem;
        left: 0;
      }
      &:nth-child(2) {
        top: 3rem;
        left: 42rem;
      }
      &:nth-child(3) {
        top: 2rem;
        right: 19rem;
      }
      &:nth-child(4) {
        bottom: 9rem;
        left: 5rem;
      }
      &:nth-child(5) {
        bottom: -7rem;
        right: 15rem;
      }
      &:nth-child(6) {
        top: 40%;
        right: 12rem;
        z-index: -1;
      }
      
    }
  }
}
.sobre {
  background-color:  #FCFCFC;
}
.sobre-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0;
  @media screen and (max-width: 900px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  .pizza {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
 box-shadow: 0px 3.04px 3.04px rgba(159, 62, 62, 0.25);
    &:nth-child(1) {
      top:7rem;
      left: 0;
    }
    
  }
  &-bg {
   
    img {
      width: 100%;
    }
  }
  &-description {
    width: 45.8rem;
    width: 50%;
    @media screen and (max-width: 900px) {
      margin: 5rem 0;
      text-align: justify;
      width: 80%;
    }

    h1,
    span {
      font-size: 3.6rem;
    }
    p {
      padding: 2.4rem 0;
      font-size: 1.6rem;
      line-height: 2.6rem;
      text-align: start;
    }

    .btn-sobre {
      font-size: 1.6rem;
      padding: 1.2rem 4rem;
    }
  }
}

footer {
  
  text-align: center;
 p {
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 1.6rem 0;
 }
}
.like {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
