@import 'variables';
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
  font-size: 62.5%;
}
.maxw {
  max-width: 120rem;
  margin: 0 auto;
}

button {
  border: none;
  cursor: pointer;
  background-color: $orange;
  border-radius: 2.5rem;
}

.span {
  &:nth-child(1) {
    color:$orange;
  }
  &:nth-child(2) {
    color: $red;
  }
  &:nth-child(3) {
    color: $green;
  }
}
