// CORES
$red:#CF3031;
$orange: #FFA200;
$green: #5C913B;
$dark: #2E2E2E;
$grey:  #616161;
$pink-ligth: #FFD4C9;
$ligth: #FEF6F4;

// FONTES

// @font-face {
//     font-family:'Sora 300' ;
//     src: url(../fonts/Sora-Light.ttf) format("woff2");
//     font-weight: 300;
// }

// @font-face {
//     font-family:'Sora 600' ;
//     src: url(../fonts/Sora-SemiBold.ttf) format("woff2");
//     font-weight: 600;
// }
@font-face {
    font-family:'Sora' ;
    src: url(../fonts/Sora.ttf) format("woff2");
}



